$margin-sx: 300px;
$margin-top: 50px;
$font-size: 40px;
$padding: 20px;
$padding-due: 10px;
$margin-left: 15px;
$height: 400px;
$width: 550px;
$display-flex: flex;



.container-header {
  margin-left: $margin-sx;
  margin-top: $margin-top;
  display: $display-flex;
  h1 {
    font-size: $font-size;
    padding: $padding;
  }
  p {
    padding: $padding;
  }
  .btn-2 {
    padding: $padding-due;
    margin-left: $margin-left;
    background-color: #2c4792;
    color: white;
  }
  .img-header{
    height: $height;
    width: $width;
  }
}
