
$display-flex: flex;
$display-inline: inline-block;
$margin-lat: 35px;
$margin-top-bot: 20px;
$margin-sx: 300px;
$padding: 10px;
$border-bot: 1px solid black;
$width: 65%;
$margin-bott: 10px;
$heit-logo: 17px;
$width-logo: 17px;
$color-purp: #7F14D4;



.container-nav {
  display: $display-flex;
  margin-top: $margin-top-bot;
  margin-left: $margin-lat;
  border-bottom: $border-bot;
  width: $width;
  margin-left: $margin-sx;
}
.logo-bt {
  height: $heit-logo;
  width: $width-logo;
}
.nav-list {
  li {list-style: none;
  display: $display-inline;
  margin-left: $margin-lat;
  padding: $padding;
  color: $color-purp;
  }
}

.btn-1 {
  padding: $padding;
  background-color: white;
  border-color: #2c4792;
  margin-bottom: $margin-bott;
}
